body{
    background-color: black;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}
.forget-password-text{
    font-family: 'Share Tech Mono', monospace;
    font-size: 24px;
    font-weight: 800;
    color: green;
    margin-bottom: 28px;
}
.forget-password{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 24px;
    padding-bottom: 0px;
    padding-top: 0px;
    z-index: 10;
    border-radius: 6px;
    transition: box-shadow 0.3s ease , transform 0.3s ease;
}
.forget-password:hover{
    box-shadow: 0px 0px 24px #044733;
    transform: translateY(-5px);
}
.welcome{
    font-size: 24px;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 800;
    color: green;
    margin-bottom: 12px;
}
.enterMail-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#enterMail-id{
    background-color: #003a42;
    border: none;
    padding: 18px 42px 18px 8px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 32px;
    border-radius: 6px;
    font-family: 'Share Tech Mono', monospace;
}
#enterMail-id:hover{
    border: 1px solid green;
}

#forget-password{
    transition: color 0.2s ease-in-out;
}
#forget-password:hover{
    color: green;
}
#sign-up-id{
    transition: color 0.2s ease-in-out;
}
#sign-up-id:hover{
    color: green;
}
#sign-up{
    padding-right: 4px;
}
.GET-OTP{
    background-color: green;
    border: none;
    padding: 18px 0px 18px 8px;
    width: 100%;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    transition: box-shadow 0.3s ease , transform 0.3s ease;
    font-family: 'Share Tech Mono', monospace;
}
.GET-OTP:hover{
    box-shadow: 0px 0px 24px #539601;
    transform: translateY(-5px);
}
.GET-OTP:active{
    box-shadow: 0px 0px 0px black;
    transform: translateY(5px);
}
.hack-box{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: repeat(25, 1fr);
    gap: 1px;
    z-index: 0;

    background-image: linear-gradient(
        #000000,
        #1a4511c0,
        #2fff06,
        #1a4511c0,
        #000000
    );

    background-size: 100% 500%;
    animation: flow 3s linear infinite;
}
@keyframes flow{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 100%;
    }
}
.box{
    background-color: #000000;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #00ff88;
    font-family: 'Share Tech Mono', monospace;

    font-size: 100%;
    line-height: 1;

    user-select: none;
}
.box:hover{
    background-color: #00ff88;
    box-shadow: 0 0 10px #00ff88, 0 0 20px #00ff88;
    transition: 0s;
}
